@import "gui.less";

html{
  font: 16px Georgia, serif;
}

body{
  // width:99%;
  position: relative;
  background-color: #eee;
}

#root{
  position:relative;
  width:1000px; height:700px; margin:0 auto;
  background-color: #fff;
}

header{
  height:40px;
  padding:10px;
  border-bottom: 1px dotted #c80000;
  h1{
    text-align: center;
    font-size:1em;
    // padding:1em;
  }  
}

#cartel-wrapper{
  height:580px;
  position:relative;
  .cartel{
    position:absolute;
    width:90%;
    padding:10% 5% 0;
    text-align: center;
    .transition-simply-prefix(~"opacity 1s linear");
    opacity:0;

    &.in{opacity:1;}
    &.out{opacity:0;}
  }

  .corpus-title{
    font-size:2.3em;
  }
  .corpus-body{
    font-size:1.5em
  }

  .progress{
    margin:4em 0;
    display:inline-block;
    width:60%; height:5px;
    position:relative;
    border-top: 2px dotted #ccc;
    .progress-barre{
      width:0;
      position:absolute; top:0; left:0;
      //background-color: #c80000;
      border-top: 2px dotted #c80000;
      // height:1px;
      margin-top:-2px;
    }
  }
}

footer{
  padding:10;
  border-top: 1px dotted #c80000;
  height:40px;
  text-align: center;
  font-size:0.65em;
  a{text-decoration: none; color:inherit;}
}

#debug{
  position:fixed;
  bottom:0; right:0;
  width:300px;
  height:400px;
  overflow-y: auto;
  font-size: 0.65em;
  p{margin:0.2em 0;}
}
